<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pageOneActivity">
        </activity>
        <activity
            android:name=".pageTwoActivity">
        </activity>
        <activity
            android:name=".pageOneIncorrectAnswer">
        </activity>
        <activity
            android:name=".pageThreeActivity">
        </activity>
        <activity
            android:name=".pageTwoIncorrectAnswer">
        </activity>
        <activity
            android:name=".pageThreeIncorrectAnswer">
        </activity>
        <activity
            android:name=".pageFourActivity">
        </activity>
        <activity
            android:name=".pageFourIncorrectAnswer">
        </activity>
        <activity
            android:name=".pageFiveActivity">
        </activity>
        <activity
            android:name=".pageFiveIncorrectAnswer">
        </activity>
        <activity
            android:name=".pageSixActivity">
        </activity>
        <activity
            android:name=".pageSixCorrectAnswer">
        </activity>
        <activity
            android:name=".pageSixIncorrectAnswer">
        </activity>
    </application>

</manifest>